* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font: 12px arial;
    height: 100%;
    text-align: center;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 810px;
    height: 100%;
    min-height: 600px;
    padding-bottom: 0;
}

.main {
    position: relative;
    width: 100%;
    min-width: 810px;
    height: 100%;
    min-height: 600px;
}


/*导航*/

.nav {
    position: absolute;
    top: 0;
    right: 0;
    margin: 19px 0 5px;
    padding: 0 96px 0 0;
}

.nav a {
    font-size: 13px;
    line-height: 24px;
    display: inline-block;
    float: left;
    margin-left: 20px;
    color: #333;
}

.mnav {
    font-weight: bold;
}

.more {
    width: 60px;
    text-decoration: none;
    color: #fff !important;
    background-color: #38f;
}


/*搜索*/

.con_wrapper {
    position: relative;
    top: 38.2%;
}

.content {
    position: relative;
    top: -191px;
}

.content img {
    width: 270px;
    height: 129px;
}

.text {
    width: 539px;
    height: 34px;
    border-width: 1px 0 1px 1px;
    border-style: solid;
    border-color: #b8b8b8 transparent #ccc #b8b8b8;
}

.submit {
    font-size: 15px;
    width: 100px;
    height: 36px;
    margin-left: -3px;
    color: #fff;
    border: 0;
    background-color: #38f;
}


/*底部*/

.footer {
    position: absolute;
    bottom: 44px;
    width: 100%;
    height: 100px;
}

.foot_link a {
    margin: 0 10px;
    color: #00c;
}

.copyright a {
    color: #666;
}

.icon {
    position: relative;
    top: 3px;
    display: inline-block;
    overflow: hidden;
    width: 14px;
    height: 17px;
    background: url(https://ss1.bdstatic.com/5eN1bjq8AAUYm2zgoY3K/r/www/cache/static/protocol/https/global/img/icons_45de3f02.png) no-repeat;
    background-position: -600px -96px;
}
.m_container{
    display: none;
}